@tailwind base;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(src/assets/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(src/assets/fonts/gilroy.woff2) format("woff");
  }

  h1,
  h2,
  h3 {
    font-family: "Gilroy";
  }

  ::selection {
    background-color: #47a3f3;
    color: #fefefe;
  }

  html {
    min-width: 360px;
    scroll-behavior: smooth;
  }

  .sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1 ease-in-out;
  }

  @supports not (backdrop-filter: none) {
    .sticky-nav {
      backdrop-filter: none;
      @apply bg-opacity-100;
    }
  }
}

@tailwind components;

.btn {
  @apply px-4 py-2 bg-blue-600 text-white rounded;
}

@tailwind utilities;
